.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto; /* 100% of the viewport height */
    align-items: center;
}


.box {
    color: white;
    display: flex;
    padding: 20px;
     font-size: 2rem;
    font-family:  sans-serif, Arial;
}

.box1 {
    background: #7fff00; /* Lime */
    flex-basis: 5%;
}

.box2 {
    background: #87ceeb; /* Light Sky Blue */
    flex-basis: 15%;
    font-size: 7rem;
    margin: 0;
}

.box3 {
    background: #00008b; /* Dark Blue */
    flex-basis: 30%;
    font-size: 12rem;
}

.box4 {
    background: #8b008b; /* Dark Magenta */
    flex-basis: 15%;
    font-size: 7rem;
}

.box5 {
    background: #ff8c00; /* Dark Orange */
    flex-basis: 5%;
    font-size: 2rem;
}
